body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Lato', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
}

div.wrapper {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}
